.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;

  @media (max-width: 416px) {
    width: 98%;
    margin: 0 auto;
    gap: 0.75rem;
  }

  .comment {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.297);
    width: 100%;
    gap: 1rem;

    @media (max-width: 416px) {
      flex-direction: column-reverse;
      box-shadow: 0 0 5px 2px rgba(128, 128, 128, 0.297);
      position: relative;
      gap: 0;
      width: 95%;
    }

    #reactions {
      user-select: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(128, 128, 128, 0.2);
      min-width: 2.5rem;
      margin: 1rem;
      border-radius: 0.5rem;
      font-weight: 900;
      padding: 0.5rem 0;

      @media (max-width: 416px) {
        flex-direction: column-reverse;
        width: 30%;
        height: 1rem;
        flex-direction: row;
        gap: 0.75rem;

        p {
          font-size: 0.85rem;
        }
      }

      #plus,
      #minus {
        color: grey;
        font-size: 1.25rem;
        cursor: pointer;

        @media (max-width: 416px) {
          font-size: 1rem;
        }
      }
    }

    #main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;

      @media (max-width: 416px) {
        gap: 0.5rem;
      }

      #infos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;

        @media (max-width: 416px) {
          margin-top: 0;
          padding-top: 0.5rem;
        }

        #user {
          display: flex;
          align-items: center;
          gap: 1rem;

          @media (max-width: 416px) {
            margin: 0 1rem;
            height: 2rem;
          }

          img {
            width: 40px;
            height: 40px;
            cursor: pointer;

            @media (max-width: 416px) {
              width: 35px;
              height: 35px;
            }
          }

          p {
            &:first-of-type {
              font-weight: 700;
              cursor: pointer;

              @media (max-width: 416px) {
                font-size: 0.85rem;
              }
            }
            &:nth-of-type(2) {
              color: grey;
              font-size: 0.85rem;

              @media (max-width: 416px) {
                font-size: 0.5rem;
              }
            }
          }
        }

        #actions {
          display: flex;
          gap: 0.75rem;

          @media (max-width: 416px) {
            position: absolute;
            bottom: 0.65rem;
            left: 100%;
            transform: translateX(-120%);
            font-size: 0.85rem;
          }

          #reply,
          #edit {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            color: rgb(39, 39, 181);
            font-weight: 700;
            cursor: pointer;

            @media (max-width: 416px) {
              font-size: 0.75rem;
            }
          }

          #delete {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            color: rgba(255, 0, 0, 0.774);
            font-weight: 700;
            cursor: pointer;

            @media (max-width: 416px) {
              font-size: 0.75rem;
            }
          }
        }
      }

      #content {
        font-size: 0.95rem;
        color: grey;
        width: 100%;

        @media (max-width: 416px) {
          display: flex;
          justify-content: unset;
          width: 90%;
          margin: 0 auto;
          font-size: 0.8rem;

          p {
            margin: 0;
            margin-top: 1rem;
          }
        }

        form {
          display: flex;
          justify-content: space-between;
          gap: 1rem;
          width: 95%;

          @media (max-width: 416px) {
            flex-direction: column;
            gap: 0;
          }

          textarea {
            min-height: 4rem;
            padding: 1rem;
            border: solid 1.5px grey;
            width: 75%;
            border-radius: 0.5rem;
            height: 4rem;
            margin-bottom: 1rem;

            @media (max-width: 416px) {
              min-height: 2rem;
              width: 85%;
            }

            &:focus,
            &:focus-visible {
              outline: solid 1px grey;
            }
          }

          button {
            background-color: rgb(39, 39, 181);
            color: white;
            font-weight: 600;
            height: 2.5rem;
            width: 5rem;
            border: none;
            border-radius: 0.5rem;
            margin-right: 0.5rem;
            cursor: pointer;

            @media (max-width: 416px) {
              height: 1.75rem;
              width: 3rem;
              font-size: 0.75rem;
            }

            &:hover {
              opacity: 0.75;
            }
          }
        }
      }
    }
  }

  #replies-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    width: 100%;

    @media (max-width: 416px) {
      margin-top: 0;
      justify-content: unset;
      margin-left: 0.5rem;
    }

    .line {
      width: 10%;
      border-right: solid 2px grey;

      @media (max-width: 416px) {
        width: 5%;
      }
    }

    #replies {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      width: 75%;
      gap: 1.5rem;

      @media (max-width: 416px) {
        gap: 0;
        width: 100%;
      }
    }
  }
}
